.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.embla__slide {
  /* flex: 1 0 auto; */
  min-width: 0;
}
/* .embla__slide:first-child {
  margin-left: 12px;
} */

.title {
  font-weight: 400;
  font-size: 16px;
  color: var(--ternary-color);
}
