.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}
.content__card {
  width: 100%;
}

.warning__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.warning {
  margin-bottom: 12px;
}

.warning__header__button {
  margin-top: -2px;
  margin-bottom: 0.35em;
}

.stepper {
  background-color: transparent;
}

.dotActive {
  background-color: white;
}

.progressButtons {
  display: flex;
  width: 80%;
  justify-content: space-between;
  gap: 10px;
}

.button {
  width: 100%;
}
