.bottom div svg path {
  fill: var(--ternary-color);
}

.bottom {
  opacity: 0.8;
  font-size: 14px;
  display: flex;
  align-items: center;
  padding: 6px 12px;
  padding-top: 0;
}
.bottom__record {
  display: flex;
  align-items: center;
}

.bottom__record svg,
.textRecord,
.listen {
  cursor: pointer;
}

.iconRecord {
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textRecord {
  margin-left: 12px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 80%;
}

.loadingPaper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80%;
  padding: 36px 0;
}
